<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <InputPath>C:\input</InputPath>
    <OutputPath>\\Mac\Home\Desktop\PRX_Final_Project\XML_FINAL_PROJECT\output</OutputPath>
    <xsdFilePath>\\Mac\Home\Desktop\PRX_Final_Project\XML_FINAL_PROJECT\action.xsd</xsdFilePath>
    <ClientPublicKey>\\Mac\Home\Desktop\PRX_Final_Project\XML_FINAL_PROJECT\keys\public.key</ClientPublicKey>
    <ClientPrivateKey>\\Mac\Home\Desktop\PRX_Final_Project\XML_FINAL_PROJECT\keys\private.key</ClientPrivateKey>
    <PublicKeyToEncrypt>\\Mac\Home\Desktop\PRX_Final_Project\XML_FINAL_PROJECT\keys\public.key</PublicKeyToEncrypt>
</root>


<!--<root>
    <InputPath>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/input</InputPath>
    <OutputPath>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/output</OutputPath>
    <xsdFilePath>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/action.xsd</xsdFilePath>
    <ClientPublicKey>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/public.key</ClientPublicKey>
    <ClientPrivateKey>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/private.key</ClientPrivateKey>
    <PublicKeyToEncrypt>/Users/phamquangkhang/Desktop/PRX_Final_Project/XML_FINAL_PROJECT/public.key</PublicKeyToEncrypt>
</root>-->
